.expertise-section{
    background-image: url(../../assets/img/color-sharp.png);
    background-repeat: no-repeat;
}

.expertise-div{
    background-image: url(../../assets/img/color-sharp2.png);
    background-repeat: no-repeat;
    background-position: right;
}